# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [17]:
-- Code here:
SET ROWCOUNT 1
SELECT MAX(LEN(original_title))
FROM books

(No column name)
196

In [19]:
SET ROWCOUNT 1
SELECT original_title
FROM Books
WHERE LEN(original_title) = 196

original_title
"The Art Spirit: Notes, Articles, Fragments of Letters and Talks to Students, Bearing on the Concept and Technique of Picture Making, the Study of Art Generally, and on Appreciation (Icon Editions)"

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [12]:
-- Code here:
SET ROWCOUNT 1
SELECT MIN(LEN(authors))
FROM Books

(No column name)
3

In [20]:
SET ROWCOUNT 1
SELECT authors
FROM Books
WHERE LEN(authors) = 3

authors
Avi

3\. How many titles contain the word "The"?  

  

> A. Is there a difference between the number of titles that use "The" or "the"?

In [22]:
-- Code here:
SET ROWCOUNT 5
SELECT COUNT(*)
FROM books
WHERE title LIKE '%the%'

(No column name)
4702

In [23]:
SET ROWCOUNT 5
SELECT COUNT(*)
FROM books
WHERE title LIKE '%The%'

(No column name)
4702

4.  How many authors' names _start_ with 'Z'?

In [26]:
-- Code here:
SELECT COUNT(*)
FROM books
WHERE authors LIKE 'z%'

(No column name)
11

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [34]:
-- Code here:
SET ROWCOUNT 5
SELECT COUNT(LEFT(language_code, 1)) AS 'Non-English Books'
FROM books
WHERE LEFT(language_code, 1)!='en'

Non-English Books
8916

6\. Retry question 5 using SUBSTRING.

In [33]:
-- Code here:
SELECT COUNT(SUBSTRING(language_code, 0, 1)) AS 'Non-English Books'
FROM books
WHERE SUBSTRING(language_code, 0, 1)!='en'

Non-English Books
8916

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [39]:
-- Code here:
SET ROWCOUNT 5
SELECT CONCAT(title, ' by ', authors, ' in ', language_code, ' language.') AS 'Description'
FROM Books

Description
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng language."
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng language."
"Twilight (Twilight, #1) by Stephenie Meyer in en-US language."
To Kill a Mockingbird by Harper Lee in eng language.
The Great Gatsby by F. Scott Fitzgerald in eng language.

In [47]:
SET ROWCOUNT 5
SELECT title, authors, language_code
FROM books
WHERE title IS NULL OR authors IS NULL OR language_code IS NULL

title,authors,language_code
Life of Pi,Yann Martel,NULL
The Five People You Meet in Heaven,Mitch Albom,NULL
A Christmas Carol,Charles Dickens,NULL
Carrie,Stephen King,NULL
"The Hunt for Red October (Jack Ryan Universe, #4)",Tom Clancy,NULL

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [62]:
-- Code here:
SET ROWCOUNT 5
SELECT title + ' by ' + authors + ' in ' + COALESCE(language_code, 'unknown') + ' language.' AS 'Description'
FROM Books
WHERE title = 'Life of Pi' OR title = 'To Kill a Mockingbird'

Description
To Kill a Mockingbird by Harper Lee in eng language.
Life of Pi by Yann Martel in unknown language.

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [61]:
-- Code here:
SET ROWCOUNT 5
SELECT title + ' by ' + authors + ' in ' + ISNULL(language_code, 'unknown') + ' language.' AS 'Description'
FROM Books
WHERE title = 'Life of Pi' OR title = 'To Kill a Mockingbird'

Description
To Kill a Mockingbird by Harper Lee in eng language.
Life of Pi by Yann Martel in unknown language.